<%= form_with(model: article, local: true) do |form| %>
 <% if article.errors.any? %>
   <div id="error_explanation">
     <h2 class="text-red-500 text-center font-bold"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

     <ul>
       <% article.errors.full_messages.each do |message| %>
         <li class="text-red-500 text-center font-bold"><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
 
 <div class="field">
   <%= form.label :title, class:"text-bold py-2 title" %>
   <%= form.text_field :title, class:"mt-1 p-4 w-full text-base font-medium bg-slate-100 text-gray-900 col-span-6 rounded-xl" %>
 </div>


 <div class="field">
   <%= form.label :body, class:"text-bold py-2 body"  %>
   <%= form.text_field :body, class:"mt-1 p-4 w-full text-base font-medium bg-slate-300 text-gray-900 col-span-6 rounded-xl" %>
 </div>


 <div class="field">
   <%= form.label :published, class:"text-bold py-2" %>
   <%= form.check_box :published %>
 </div>


  <div class="field">
    <%= form.file_field :image, class:"text-bold py-2" %>
  </div>
  
  <div class="text-green-600 font-semibold transition-colors duration-300 shadow-lg rounded-lg border border-green-600 w-fit my-4 p-2 hover:bg-green-600 hover:text-white hover:cursor-pointer">
    <%= form.submit %>
  </div>
<% end %>
