<%= form_with(model: article, local: true) do |form| %>
 <% if article.errors.any? %>
   <div id="error_explanation">
     <h2 class="text-red-500 text-center font-bold"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

     <ul>
       <% article.errors.full_messages.each do |message| %>
         <li class="text-red-500 text-center font-bold"><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

<div class="container p-4 font-bold">
 <div class="field">
   <%= form.label :title, class:"pt-3" %>
   <%= form.text_field :title %>
 </div>


 <div class="field" >
   <%= form.label :body, class:"pt-3"  %>
   <%= form.text_area :body %>
 </div>


 <div class="field">
   <%= form.label :published, class:"pt-3" %>
   <%= form.check_box :published %>
 </div>


 <div class="field">
 <%= form.file_field :image, class:"pt-3" %>
 </div>


 <div class="actions">
   <%= form.submit %>
 </div>
 </div>
<% end %>
