
<div class="grid bg-white border shadow-lg rounded-lg mt-8 w-1/2 ml-96 h-80 p-12">
  <div class="pl-16 pt-4">
<h1 class="font-bold"><%= @article.title %></h1>


<p class=pt-4><%= @article.body %></p>
<p>Status: <%= @article.published ? 'Published' : 'Draft' %></p>

<% if @article.image.attached? && @article.image.persisted? %>
<%= image_tag @article.image.variant(resize_to_fit: [200, 200]) %>

<p>
  <strong>File:</strong>
    <%= @article.image.filename %>
  <% else %>
    No file attached.
  <% end %>
</p>

<div class="pt-4 flex flex-col items-end">
<%= link_to 'Edit', edit_article_path(@article) %> 
<%= link_to 'Back to Articles', articles_path %>
<%= link_to "Delete this article", articles_path(@article), data: {
turbo_method: :delete,
turbo_confirm: "Are you sure you want to delete the article?"
} %>
</div>
</div>
</div>