<h1><%= @article.title %></h1>


<p><%= @article.body %></p>
<p>Status: <%= @article.published ? 'Published' : 'Draft' %></p>

<% if @article.image.attached? %>
<%= image_tag @article.image.variant(resize_to_fit: [200, 200]) %>

<p>
  <strong>File:</strong>
    <%= @article.image.filename %>
  <% else %>
    No file attached.
  <% end %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back to Articles', articles_path %>
<%= link_to "Delete this article", articles_path(@article), data: {
turbo_method: :delete,
turbo_confirm: "Are you sure you want to delete the article?"
} %>