<!DOCTYPE html>
<html>
  <head>
    <title>PpWorkshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body class="h-screen bg-gradient-to-b from-green-200 to-green-500">
    <main class="container bg-red mx-auto px-5">
      <%= yield %>
    </main>
  </body>
</html>
